<div class="container">
  <div class="searchbar d-flex m-3 p-1">
    <%= form_tag root_path, method: :get do %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control",
                       placeholder: "search"
    %>
    <%= submit_tag "Search", class: "btn btn-primary m-1 p-1" %>
    <% end %>

  </div>
    <%= link_to "New article", new_articles_path, class: "btn btn-success m-3 p-2" %>
    <ul class="list-unstyled">
      <% @articles.each do | article | %>
        <li class="m-2 p-2">- title: <%= link_to article.title, article_path(article), class: 'text-decoration-none' %>
            - link: <a class="text-decoration-none" href="<%=  article.short_link %>" target="_blank"><%=  article.short_link  %></a>
            - viewed: <%= article.views %> <%= article.views == 1 ? "time" : "times" %>
            - reading time: <%= article.reading_time %> <%= article.reading_time.to_i == 1 ? "minute" : "minutes" %>
        </li>
      <% end %>
    </ul>
</div>
