
<div class="container m-2 p-2">
  <%= link_to "back", root_path, class: "btn btn-info m2 p2"  %>
</div>
<div class="container p-3 m-3">
    <h1>Title: <%=@article.title  %> </h1>
    <h3>Shortened-link(to_do): <a href="<%=  @article.source_link  %>" target="_blank"><%=  @article.source_link  %></a>  </h3>
    <h5>Reading time: <%= @reading_time %> minutes </h5>

    <p> <%= @article.body %> </p>
</div>
