
<div class="container m-2 p-2">
  <%= link_to "⬅ back", root_path, class: "btn btn-info m-3 p-1"  %>
</div>
<div class="container p-3 m-3">
    <h1>Title: <%=@article.title  %> </h1>
    <h3>Shortened-link: <a class="text-decoration-none" href="<%=  @article.short_link %>" target="_blank"><%=  @article.short_link  %></a></h3>
    <% if @article.body %>
      <p>Reading time: <%= @article.reading_time %> minute<%= @article.reading_time.to_i == 1 ? "" : "s" %></p>
    <% end %>
      <ul>
        <% if @article.headers %>
          <% @article.headers.each do |header| %>
            <li>
              <h6> <%= header %></h6>
            </li>
          <% end %>
        <% end %>
      </ul>
    <p> <%= @article.body %> </p>
</div>
